@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../OpenSansLight.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../OpenSans.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../OpenSansBold.ttf) format('truetype');
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-color: #3A6F61;
    font-family: OpenSans, 'Open Sans';
    text-align: center;
    color: white;
}

.main-container {
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.line-delimeter {
    background: rgba(255,255,255,.5);
    width: 600px;
    height: 2px;
    margin: 30px auto;
}

.welcome-scene {
    padding-top: 100px;
}

.welcome-btns .btn {
    width: 180px;
    font-size: 30px;
    padding: 20px 0;
    margin: 0 20px;
}

.leo-tv-code-tour-scene {
    paddint-top: 50px;
}

.leo-tv-code-tour {
    width: 1100px;
    margin: 20px auto;
}

.leo-tv-code-tour .step {
    display: inline-block;
    width: 33%;
    font-size: 24px;
}




/* Rapid repetition */
.rapid-answer {
    width: 109px;
    font-size: 18px;
    padding: 20px 0;
    margin-top: 100px;
}

.rapid-answer.no {
    background: url(../images/icons/answer-wrong.png);
    float: left;
}

.rapid-answer.yes {
    background: url(../images/icons/answer-wrong.png);
    float: right;
}


h1 {
    font-size: 42px;
    font-family: OpenSansLight, 'Open Sans Light';
    font-weight: 300;
}

p {
    font-size: 30px;
}

.training-step-by-step {
    width: 730px;
    margin: 0 auto;
    position: relative;
    margin-top: 38px;
    min-height: 410px;

    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    padding: 30px;
    box-sizing: border-box;
}

.training-step-by-step .left-column {
    text-align: left;
    float: left;
    width: 270px;
    font-size: 30px;
}

.training-step-by-step .right-column {
    float: right;
    width: 390px;
}

.training-step-by-step .right-column .answer-item {
    text-align: right;
    margin: 0 0 20px 0;
}

.training-step-by-step .right-column .answer-item.active .btn {
    border: 2px solid #f3934d;
}

.training-step-by-step .right-column .answer-text {
    text-align: left;
    width: 310px;
}


.answer-number {
    display: inline;
    width: 50px;
    color: lightgray;
    padding: 5px 10px;
}


#log {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    width: 400px;
    background: white;
    opacity: 0.6;
    color: black;
    text-align: left;
}

.view-trainings-list {
    text-align: center;
    padding: 150px 0;
    box-sizing: border-box;
}

.training-item {
    display: inline-block;
    width: 175px;
    height: 130px;
    text-decoration: none;
    color: #333333;
    background-color: #eae3cf;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 30px 10px 0 10px;

}

.training-item.active {
    background-color: #fcfcfc;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.training-item .training-title {
    margin-top: 10px;
}

.training-icon {
    display: inline-block;
    height: 131px;
    width: 131px;
    background-repeat: no-repeat;
    background-position: center center;
}

.training-rapid_repetition .training-icon {
    background-image: url(../images/icons/trainings/rapid_repetition.png);
}

.btn {
    display: inline-block;
    box-shadow: 0 2px #265985;
    border-radius: 2px;
    background: #3680be;
    color: #ffffff;
    text-decoration: none !important;
    -webkit-appearance: none;
    padding: 9px 15px 6px;
    font-size: 18px;
    position: relative;
}

.btn-big {

}

.btn.active {
    border: 2px solid #f3934d;
}

.dont-know .btn {
    background: #E7F0F7;
    box-shadow: 0 2px #AAAAAA;
    color: #333;
}