body {
    background-image: url(https://pbs.twimg.com/profile_background_images/436216826368757760/XQoKhrrp.png);
    background-repeat: repeat-x;
    background-color: #3A6F61;
    text-align: center;
    font-family: Arial,sans-serif;
}

.main-container {
    width: 1100px;
    height: 600px;
    background: #F5F2E9;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.container-title {
    padding: 20px 45px;
    font-size: 40px;
    min-height: 85px;
    box-sizing: border-box;
    background: white;
    text-align: left;
}

.top-line {
    width: 1100px;
    text-align: left;
    margin: 10px auto;

    font-size: 16px;
    color: #ffffff;
}

.top-line span.slogan {
    top: -5px;
    position: relative;
    margin-left: 25px;
    font-style: italic;
}

.top-line .homelink {
    float: right;
}

.training-step-by-step {
    width: 730px;
    margin: 0 auto;
    position: relative;
    margin-top: 38px;
    min-height: 410px;

    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    padding: 30px;
    box-sizing: border-box;
}

.training-step-by-step .left-column {
    text-align: left;
    float: left;
    width: 270px;
    font-size: 30px;
}

.training-step-by-step .right-column {
    float: right;
    width: 390px;
}

.training-step-by-step .right-column .answer-item {
    text-align: right;
    margin: 0 0 20px 0;
}

.training-step-by-step .right-column .answer-item.active .btn {
    border: 2px solid #f3934d;
}

.training-step-by-step .right-column .answer-text {
    text-align: left;
    width: 310px;
}


.answer-number {
    display: inline;
    width: 50px;
    color: lightgray;
    padding: 5px 10px;
}


#log {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    width: 500px;
    background: white;
}

.view-trainings-list {
    text-align: center;
    padding: 150px 0;
    box-sizing: border-box;
}

.training-item {
    display: inline-block;
    width: 175px;
    height: 130px;
    text-decoration: none;
    color: #333333;
    background-color: #eae3cf;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 30px 10px 0 10px;

}

.training-item.active {
    background-color: #fcfcfc;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.training-item .training-title {
    margin-top: 10px;
}

.training-icon {
    display: inline-block;
    height: 70px;
    width: 72px;
    background-image: url('../images/train-list-flat.png');
}

.training-word_translate .training-icon {
    background-position: 0 -220px;
}

.training-translate_word .training-icon {
    background-position: -75px -220px;
}

.training-rapid_repetition .training-icon {
    background-position: -383px 0;
    width: 97px;
}

.btn {
    display: inline-block;
    box-shadow: 0 2px #265985;
    border-radius: 2px;
    background: #3680be;
    color: #ffffff;
    text-decoration: none !important;
    -webkit-appearance: none;
    padding: 9px 15px 6px;
    font-size: 18px;
    position: relative;
}

.btn.active {
    border: 2px solid #f3934d;
}

.dont-know .btn {
    background: #E7F0F7;
    box-shadow: 0 2px #AAAAAA;
    color: #333;
}