<?xml version="1.0" encoding="UTF-8"?>
<widget>
    <mouse>y</mouse>
    <previewjs itemtype="string"></previewjs>
    <preicon itemtype="string"></preicon>

    <cpname itemtype="string">LinguaLeo</cpname>
    <login>y</login>

    <cplogo itemtype="string"></cplogo>
    <cpauthjs itemtype="string">js/LinguaLeoAuthorization.js</cpauthjs>
    <type>user</type>

    <ver itemtype="string">0.1</ver>
    <mgrver itemtype="string"></mgrver>
    <fullwidget itemtype="boolean">y</fullwidget>
    <srcctl itemtype="boolean">y</srcctl>
    <ticker itemtype="boolean">n</ticker>
    <childlock itemtype="boolean">n</childlock>
    <audiomute itemtype="boolean">y</audiomute>
    <videomute itemtype="boolean">y</videomute>
    <dcont itemtype="boolean">y</dcont>
    <widgetname itemtype="string">LinguaLeo</widgetname>
    <description itemtype="string">LinguaLeo is a best way to learn Languages online</description>

    <width itemtype="number">1280</width>
    <height itemtype="number">720</height>

    <author itemtype="group">
        <name itemtype="string">Igor Lyubimov, LinguaLeo</name>
        <email itemtype="string">igor@lingualeo.com</email>
        <organization itemtype="string">LinguaLeo</organization>
    </author>

    <ThumbIcon itemtype="string">images/icons/tiny.png</ThumbIcon>
    <BigThumbIcon itemtype="string">images/icons/tiny.png</BigThumbIcon>
    <BigListIcon itemtype="string">images/icons/tiny.png</BigListIcon>
    <ListIcon itemtype="string">images/icons/tiny.png</ListIcon>
</widget>