<h1>
    Перейдите по адресу<br>
    http://LinguaLeo.com/smarttv<br>
    и введите персональный код доступа
</h1>
<a href="#" class="btn" data-code-input>Ввести код доступа</a>
<input type="text" id="smartTVCodeInput" name="smartTVCodeInput_name">