<h1>
    Введи свой LeoTV код,<br>полученный на странице http://lingualeo.com/leotv
</h1>

<div class="welcome-btns">
    <a href="#" class="btn active" data-code-input>Ввести код</a>
</div>

<input type="text" id="smartTVCodeInput" name="smartTVCodeInput_name" style="display: none;">