<% for (var trainingName in trainingsData) { %>
<a href="" class="training-item training-<%=trainingName%>" data-training-item="<%=trainingName%>">
    <i class="training-icon"></i>
    <span class="btn training-title"><%=trainingName%></span>
</a>
<% } %>