<h1>LinguaLeo – это лучший способ изучить англйиский язык</h1>
<p>В приложении для Smart TV вы можете тренировать слова из своего личного словаря на сайте LinguaLeo.com</p>
<span class="btn login-btn" data-login-mode="code">
    У меня есть аккаунт на LinguaLeo
</span>
<span class="btn login-btn" data-login-mode="demo">
    Попробовать демо-набор
</span>