<img src="images/logo-new.png" />

<h1>LinguaLeo. Покори язык.</h1>
<p>Тренируй слова из своего личного словаря<br>или воспользуйся демо-набором слов</p>
<div class="line-delimeter"></div>
<p>У тебя есть LeoTV код?</p>

<div class="welcome-btns">
    <span class="btn login-btn" data-login-mode="yes">
        Да
    </span>
    <span class="btn login-btn" data-login-mode="no">
        Нет
    </span>
</div>